.hero {
    position: relative;
    background-image: url("../../utils/backgroud/faq.png") !important;
    z-index: 100;
    width: 100%;
    padding: 160px 30px 40px 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: center;
}
.card {
    border-style: solid;
    border-width: 0px;
    box-shadow: var(--box-shadow);
    overflow: visible;
    width: 100%;
    background-image: url(""), linear-gradient(134deg, #ffffff 0%, #e9f5ff 100%);
}
.title {
    position: relative;
    display: inline-block;
}

.title .title_card {
    font-size: 2.3em;
    font-style: italic;
    font-weight: 800;
    position: relative;
    color: var(--main-color);
    margin: 0;
    padding-top: 34px;
}
.title .title_card_question {
    font-size: 2.3em;
    font-style: italic;
    font-weight: 800;
    position: relative;
    color: var(--primary, #b8d6ec) !important;
    line-height: 0.8;
    margin: 0;
}
